<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        th:data-assets-path="@{/assets/}"
        data-template="vertical-menu-template-free"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="utf-8" />
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
  />

  <title>jwork GMAO - Equipements </title>

  <meta name="description" content="" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"/>

  <!-- Icons. Uncomment required icon fonts -->
  <link rel="stylesheet" th:href="@{/assets/vendor/fonts/boxicons.css}" />
  <link rel="stylesheet" th:href="@{/assets/vendor/css/core.css}" class="template-customizer-core-css" />
  <link rel="stylesheet" th:href="@{/assets/vendor/css/theme-default.css}" class="template-customizer-theme-css" />
  <link rel="stylesheet" th:href="@{/assets/css/demo.css}" />
  <link rel="stylesheet" th:href="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}" />
  <link rel="stylesheet" th:href="@{/assets/vendor/libs/apex-charts/apex-charts.css}" />

  <script th:src="@{/assets/vendor/js/helpers.js}"></script>
  <script th:src="@{/assets/js/config.js}"></script>

</head>


  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->
        <style th:replace="/shared/sidebar"></style>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <style th:replace="/shared/navbar"></style>

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <div th:if="${privilege==null} or ${privilege?.privilege?.id==1}">
              <div class="alert alert-danger" role="alert">L'accès à cette page n'est pas autorisé .</div>
            </div>
            <div class="container-xxl flex-grow-1 container-p-y" th:if="${privilege?.privilege?.id>1}">
              <h6 class="fw-bold py-3 mb-4">
                <span class="text-muted fw-light">Dashboard /</span>
                <span class="text-muted fw-light">Equipements /</span>
                <span class="text-muted fw-light">Paramètrages /</span>
                Types d'équipements
              </h6>

              <div align="center" th:if="${added} == 'ok'" class="alert alert-success" role="alert" id="added">
                <p>L'ajout a bien été effectué</p>
              </div>
              <div align="center" th:if="${updated} == 'ok'" class="alert alert-success" role="alert" id="updated">
                <p>La modification a bien été effectuée</p>
              </div>
              <div align="center" th:if="${deleted} == 'ok'" class="alert alert-danger" role="alert" id="deleted">
                <p>La suppression a bien été effectuée</p>
              </div>
               <div align="center" th:if="${updatedPass} == 'ok'" class="alert alert-success" role="alert" id="updatedPass">
                <p>Le mot de passe a été a bien changé</p>
              </div>
              <!-- Basic Bootstrap Table -->
              <div class="card">
                <div class="table-responsive text-nowrap">
                  <!--<div style="margin: 2%">
                    <button class="btn btn-sm btn-primary p-2" data-bs-target="#addModal"
                            data-bs-toggle="modal"
                            style="float: right" th:if="${privilege} != null and ${privilege.privilege.id} > 3"
                            title="Ajouter un type"
                            type="button">
                      <i class="bx bx-plus"></i>
                    </button>
                  </div>-->


                  <table class="table">
                    <thead>
                      <tr>
                        <th>libelle</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      <tr th:each="c : ${types}">
                        <td th:text="${c.libelle}"></td>
                        <td class="text-center">
                          <div id="actions_div" th:if="${privilege} != null and ${privilege.privilege.id} > 2">
                           <!-- <a class="btn btn-danger btn-sm px-2 py-1 deleteUser"
                               th:data-id="${c.id}"
                               th:if="${privilege} != null and ${privilege.privilege.id} > 3 and ${c.canDelete}"
                               title="Supprimer" type="button ">
                              <i class="bx bx-trash"></i>
                            </a>
                            <a class="btn btn-warning btn-sm px-2 py-1 editModal"
                               th:data-id="${c.id}"
                               th:data-libelle="${c.libelle}"
                               th:if="${privilege} != null and ${privilege.privilege.id} > 2  and ${c.canUpdate}"
                               title="Modifier"
                               type="button ">
                              <i class="bx bx-edit"></i>
                            </a>-->
                          </div>
                        </td>
                      </tr>
                      <tr  th:if="${#lists.size(types)} == 0">
                        <td colspan="2" style="text-align: center">Aucun résultat</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <h1 class="card-footer"></h1>

              </div>
              <!--/ Basic Bootstrap Table -->


              <div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modalCenterTitle">Modification</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" th:action="@{/equipements/params/editType}">
                      <div class="modal-body">
                        <input id="id" name="id" type="hidden">
                        <div class="row g-2">

                        <div class="col mb-0">
                          <label for="libelle" class="form-label">Libellé</label>
                          <input type="text" id="libelle" class="form-control" name="libelle"/>
                        </div>
                      </div>
                    </div>
                      <div class="modal-footer">
                      <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
                      <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Ajouter un nouveau type</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" th:action="@{/equipements/params/addType}">
                      <div class="modal-body">
                      <div class="row g-2">
                        <div class="col mb-0">
                          <label for="libelle" class="form-label">Libellé</label>
                          <input type="text" id="libelle" class="form-control" name="libelle"/>
                        </div>
                      </div>
                    </div>
                      <div class="modal-footer">
                      <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
                      <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Suppression</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" th:action="@{/equipements/params/deleteType}">
                      <div class="modal-body">
                        <input id="id" name="id" type="hidden">
                      Voulez-vous vraiment supprimer ce type ?
                    </div>
                      <div class="modal-footer">
                      <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
                      <button type="submit" class="btn btn-danger">Supprimer</button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>




              <hr class="my-5" />
              <!--/ Responsive Table -->
            </div>
            <div class="content-backdrop fade"></div>
          </div>
        </div>
      </div>

      <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    <script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
    <script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
    <script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
    <script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>

    <script th:src="@{/assets/vendor/js/menu.js}"></script>
    <script th:src="@{/assets/js/main.js}"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script th:inline="javascript">

      $(document).on("click", ".editModal", function () {
        var id = $(this).data('id');
        var libelle = $(this).data('libelle');
        $("#editModal .modal-body #id").val(id);
        $("#editModal .modal-body #libelle").val(libelle);
        $("#editModal").modal('show');
      });

      $(document).on("click", ".deleteUser", function () {
        var id = $(this).data('id');
        $("#deleteModal .modal-body #id").val(id);
        $("#deleteModal").modal('show');
      });

      /*]]>*/
    </script>
    <script type="text/javascript">
      $(document).ready(function(){
        $("form").submit(function() {
          $(this).submit(function() {
            return false;
          });
          return true;
        });
      });
    </script>

    <script th:inline="javascript">
      setTimeout(function() {
        $("#added").hide(600);
        $("#deleted").hide(600);
        $("#updated").hide(600);
        $("#updatedPass").hide(600);
      }, 3000);

    </script>

    <script th:inline="javascript">
      /*<![CDATA[*/
      function valider_username(username,modal) {
        var id = "#"+modal+" .modal-body #username"
        var val = "#"+modal+" .modal-body #msg_cin_val"
        var usernames = [[${usernames}]];

        if( $.inArray(username, usernames) != -1){

          $(val).show();
          $(id).val("");
          setTimeout(function() {
            $(val).hide(600);
          }, 3000);
        }
      }
      /*]]>*/
    </script>

  </body>
</html>
